<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Favorites List</h3>
    </div>
    <div class="panel-body">
        <div class="container-responsive">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Type</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% @favorites.each do |fav| %>
                                <tr>
                                    <td><%= fav['title'] %></td>
                                    <td><%= fav['favorite_type'] %></td>
                                    <td>
                                      <% if fav['favorite_type'] == 'manga' %>
                                        <%= link_to manga_path(fav['favourite_id']), class: 'btn btn-sm btn-info', data: { toggle: 'tooltip', placement: 'top' } do %>
                                          View Detail
                                        <% end %>
                                      <% else %>
                                        <%= link_to anime_path(fav['favourite_id']), class: 'btn btn-sm btn-info', data: { toggle: 'tooltip', placement: 'top' } do %>
                                          View Detail
                                        <% end %>
                                      <% end %>
                                    </td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
